<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#"><img id="logo" src="//placehold.it/130x30"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="container">
      <%= link_to "Plamen Jetchev", root_path, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <%= nav_helper 'nav-link', 'li' %> 
        <%= login_helper 'nav-link' %> 
      </ul>
    </div>
  </div>
</nav>
