<h1>Portfolio Items</h1>

<!-- <a href="my_portfolios/new">Create New Item</a>
</br> -->
<!-- example of another way to create the link -->

<%= link_to "Create New Item", new_my_portfolio_path %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>  