
<div class="row">
  <div class="col-md-6">
    <h3>Contact us</h3>

    <h4>Office Address</h4>

    <p>120 Boylston St, Boston, MA 02116</p>

    <h5>Phone</h5>

    <p><%= number_to_phone "1234567890" %></p>

    <p><a href="mailto:info@plamenjetchev.com?subject=PortfolioContact" "Email">Email me</a></p>
  </div> 

  <div class="col-md-6"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5897.060574616907!2d-71.0690275!3d42.3525368!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcdfe7c18dfe8755d!2sEdgar+Allan+Poe+National+Historic+Birthplace+Site!5e0!3m2!1sen!2sus!4v1518200553779" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div> 


</div>